# Laravel specific files
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*.php
/.env.backup
/.env.backup.*.php
/.vagrant
Homestead.json
Homestead.yaml

# Ignore storage folder except the following
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

# Ignore IDE-specific files
.idea
.vscode

# Ignore system files
.DS_Store
Thumbs.db

# Composer dependencies
composer.lock

# NPM/Yarn dependencies
yarn.lock
package-lock.json

# OSPanel specific
/OSPanel

# Docker specific files
docker-compose.override.yml
docker-compose.yml.override
docker-compose.yml
Dockerfile

# Log files
*.log
*.log.*

# Ignore deployment-specific files
.env.local
.env.production
.env.testing
.env.staging
